@media screen and (max-width: 768px) {
    .container {
        background-color: #4343ee;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        background-color: #42b13b;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        background-color: #f8b532;
    }
}

@media screen and (min-width: 1201px) {
    .container {
        background-color: #c5c2c8;
    }
}
